---
page_title: "localos Provider"
description: "The localos provider gets information about the machine running terraform and makes it available as data sources."
---


# localos Provider

{{ .Description | trimspace }}


## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{- /* No schema in this provider, so no need for this: .SchemaMarkdown | trimspace */ -}}